

body {font-family: "Helvetica", monospace;}
h3{font-family: "Garamond";}
h1{font-family: "Futura", monospace;}

h4,h6 {
font-family: serif;

}

h1{font-size: 60px}
h2{font-size: 2em}
h6{font-size: 20px}
h7{font-size: 20px}

h1{color: #ff0022;}



.test-subject{background-color: yellow;}
.content{color: #ff0022;}


h3{line-height: 1.7}
p{font-size: 2em}



h3{border-left: 4px dotted red;}




h1,h2,h3,h4,h5,h6,p{margin: 0}

h3{word-spacing: 5px;}
h2{word-spacing: 324px;}


h3,h4,p{margin-top: 2%;}





.navigation {
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  background-color: white;
  overflow-y: scroll;
  width: 20%;
  padding: 2em;
  transform: translateX(-70%);
  transform: 300ms;
}

.navigation:hover{
  transform: translateX(0%);
}



a{
  color: coral;
  text-decoration: non;
  border: 1px solid;
  padding: .3em;
  transition: 300ms;

}




a:hover{
  background-color: coral;
  color: white;
}
